---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Install from "../components/Install.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import CodeExample from "../components/CodeExample.astro";
import OpenClaw from "../components/OpenClaw.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Stats />
    <Features />
    <HowItWorks />
    <Install />
    <CodeExample />
    <OpenClaw />
  </main>
  <Footer />
</Layout>
